# Lecture 9  Strings

# For students, review your knowledge: 
https://hourofpython.trinket.io/python-challenges#/string-challenges/

# String Literals & Variables

In [ ]:
# regular strings

# string literals
print('string single quotes ')
print("string double quotes ")
print( """ string
triple
quotes
multi-line
""" )

# variables
str1='string single quotes in a var'
str2="string double quotes in a var"
str3=""" string
  triple
  quotes
  multi-line
  in a var""" 

print (str1)
print (str2)
print (str3)

string single quotes
string double quotes
 string
triple
quotes
multi-line

string single quotes in a var
string double quotes in a var
 string
  triple
  quotes
  multi-line
  in a var

# arithmetic ops and strings: +

## concatenate    +

In [ ]:
first_name = “Cardi“
last_name = “B”
name = first_name + “ “ +last_name
print (“Introducing rapper” + name)

You can only contactenate strings
You cannot concatenate numbers and strings
```
TypeError: must be str, not int
```

In [ ]:
# can't concatenate numbers and strings 
print ("Cardi "+25)

TypeError: ignored

In [ ]:
# can't concatenate numbers and strings
# so convert the number to a string
print ("Cardi "+str(25))

Cardi 25

In [ ]:
first_name = "Cardi"

lots_of_names = "Cardi "*3    # Cardi Cardi Cardi
print (lots_of_names)
print()

times=int(input("how many times: "))
print ("repeating ", times, " times")
print (first_name*times)

Cardi Cardi Cardi

how many times: 10
repeating  10  times
CardiCardiCardiCardiCardiCardiCardiCardiCardiCardi

# arithmetic ops and strings: *
## multiply *

# len() built in function

len() is not a string function but it takes as an argument a string and returns the number of characters in the string

In [ ]:
name = "Fozzie The Bear"

print(name, " has ", len(name), " letters")

Fozzie The Bear  has  15  letters

# Strings as a series of characters (arrays)

In [ ]:
name="Dorothy Vaughn"

print (name, "length", len(name))

# one character at a time (we begin at 0, not 1)
print (name[0])
print (name[1])
print (name[2])
print (name[3])
print (name[4])
print (name[5])
print (name[6])

# a slice   [start:end]
print (name[4:7])    
print (name[8:])

Dorothy Vaughn length 14
D
o
r
o
t
h
y
thy
Vaughn

## Strings are arrays, a series of characters
![alt text](https://developers.google.com/edu/python/images/hello.png)

```
 H e l l o
 0 1 2 3 4
```

```
 H  e  l  l  o
-5 -4 -3 -2 -1
```

In [ ]:
string="Hello"

print (string[-1])
print (string[-2])
print (string[-3])
print (string[-4])
print (string[-5])
print()
print (string[0])
print (string[1])
print (string[2])
print (string[3])
print (string[4])

o
l
l
e
H

H
e
l
l
o

## String slices

In [ ]:
name="Greta Thunberg"
# starts at 0
# a slice   [start:end]
print (name[4:8])     # chars 4-7
print (name[8:])      # start at 8th char to end
print (name[:5])      # first 5 chars

a Th
unberg
Greta

## using a for loop

In [ ]:
name="Mary Jackson Engineer"

for letter in name:
   print (letter)

M
a
r
y

J
a
c
k
s
o
n

E
n
g
i
n
e
e
r

## reversing a string

In [ ]:
# this uses all letters of the alphabet
phrase="the big black dog jumped over the lazy fox"
print("forward        ", phrase)
print("reverse        ", phrase[::-1])
print("reverse + caps ", phrase[::-1].title())


poem="""
Alligator pie, alligator pie,
If I don't get some I think I'm gonna die. 
Give away the green grass, give away the sky, 
But don't give away my alligator pie.

Alligator stew, alligator stew,
If I don't get some I don't know what I'll do.
Give away my furry hat, give away my shoe,
But don't give away my alligator stew.

Alligator soup, alligator soup,
If I don't get some I think I'm gonna droop.
Give away my hockey stick, give away my hoop,
But don't give away my alligator soup.
"""

print (poem[::-1])

forward         the big black dog jumped over the lazy fox
reverse         xof yzal eht revo depmuj god kcalb gib eht
reverse + caps  Xof Yzal Eht Revo Depmuj God Kcalb Gib Eht

.puos rotagilla ym yawa evig t'nod tuB
,pooh ym yawa evig ,kcits yekcoh ym yawa eviG
.poord annog m'I kniht I emos teg t'nod I fI
,puos rotagilla ,puos rotagillA

.wets rotagilla ym yawa evig t'nod tuB
,eohs ym yawa evig ,tah yrruf ym yawa eviG
.od ll'I tahw wonk t'nod I emos teg t'nod I fI
,wets rotagilla ,wets rotagillA

.eip rotagilla ym yawa evig t'nod tuB
 ,yks eht yawa evig ,ssarg neerg eht yawa eviG
 .eid annog m'I kniht I emos teg t'nod I fI
,eip rotagilla ,eip rotagillA

# formatting strings and numbers  (`f' strings '`)

In [ ]:
num = 12345.6789
print (f' number {num:12.2f}')   # leading blank
print (f' number {num:012.2f}')  # leading 0
numd = int(num)
print (f' number {numd:7d}')  # leading blank
print (f' number {numd:07d}')  # leading 0
strng = 'hello'
print (f' string {strng:20s} goodbye')  # trailing blank

 number     12345.68
 number 000012345.68
 number   12345
 number 0012345
 string hello                goodbye

# string functions
Paying homage to women in Engineering and Computer Science 
* [Katherine Johnson, NASA Computer (Scientist)](https://en.wikipedia.org/wiki/Katherine_Johnson)
* [Dorothy Vaughn](https://en.wikipedia.org/wiki/Dorothy_Vaughan)
* [Mary Jackson](https://en.wikipedia.org/wiki/Mary_Jackson_(engineer))
* [Beatrice Worsley first woman computer scientist in Canada](https://en.wikipedia.org/wiki/Beatrice_Worsley)

## upper, lower

In [ ]:
# NASA scientist
name="katherine johnson"

print("no changes", name)
print("upper ", name.upper())


shout="I AM SHOUTING"
print ("no changes", shout)
print ("lower", shout.lower(), ",not")

no changes katherine johnson
upper  KATHERINE JOHNSON
no changes I AM SHOUTING
lower i am shouting ,not

I have to account for user input, it could be mixed case.
To check for all possiblities I need a lot of ors.

In [ ]:
# check for pet type
# check for all possible values upper & lower
# NOT GOOD, see the next code block
pet = input("do you prefer dogs or cats")

# I am missing some :(   2*2*2*2  16 combinations needed
if (pet == "dogs" or pet == "Dogs" or pet == "dOgs" or pet == "doGs" or pet == "dogS"
    or pet == "DOgs" or pet == "DoGs" or pet == "DogS" 
   or pet == "dOGs" or pet == "doGS" ):
  print ("woof ", pet)
  
# I need to do the same for cats
if (pet == "cats"):
  print ("miao ", pet)
else :
  print ("not a dog not a cat")

This is a better way to account for user input, make it into lower case and compare only once.

In [ ]:
# check for pet type
# lower case solution
pet = input("do you prefer dogs or cats ")

pet=pet.lower()

if (pet == "dogs"):
  print ("woof ", pet)
elif (pet == "cats"):
  print ("miao ", pet)
else :
  print ("not a dog not a cat")

do you prefer dogs or catsDOGs
woof  dogs

##  swapcase, title, capitalize

In [ ]:
word="mIxED cAsE pHrAse"
print("no changes", word)
print("swap", word.swapcase())
print("caps", word.capitalize())
print("title", word.title())
print() 

print("title then swap", word.title().swapcase())
print()

no changes mIxED cAsE pHrAse
swap MiXed CaSe PhRaSE
caps Mixed case phrase
title Mixed Case Phrase

title then swap mIXED cASE pHRASE

## center

In [ ]:
# NASA scientist
name="katherine johnson"
print("center", name.title().center(30,"N"))

name2=input("enter a name ")
fill=input("enter the char you want to use as fill ")
fill=fill[0]
width=int(input("enter the width of the banner: "))
print("center", name2.title().center(width,fill))

center NNNNNNKatherine JohnsonNNNNNNN
enter a name Kermit The Frog
enter the char you want to use as fill %
enter the width of the banner: 100
center %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%Kermit The Frog%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

## is functions:  islower, isupper, isnumeric, isalpha, isdigit

* islower   true if all lower case
* isupper  true if all uppper case
* isnumeric  string contains only characters that are numbers, no spaces and no letters
* isalpha string contains only characters that are letters, no spaces

In [ ]:
allnames="Dorothy Katherine Mary"
nameslower="dorothy katherine mary"
namesnospace="dorothykatherinemary"

#names=namesnospace

names= input("enter something: ")

print (names)
if (names.islower()) :         # only lower case
  print ("is lower case")     
if (names.isupper()) :         # only upper case
  print ("is upper case")
if (names.islower() or names.isupper()) :
  print ("is upper or lower case")
  
if (names.isnumeric()) :
  print ("is numeric")
if (names.isalpha()) :
  print ("is alpha")

if (names.isspace()) :
  print ("is space")

enter something:

is space

## string in string

In [ ]:
name="beatrice worsley"


if ( "be" in name ) :
  print("there is a be in",name)
  
if ( "W" in name.upper() ) :
  print("there is a W in",name.upper())

if ( "W" in name ) :
  print("there is a W in",name)
else :
  print("there is not a W in",name)

there is a be in beatrice worsley
there is a W in BEATRICE WORSLEY

## join a string

In [ ]:
balloon = "Lied für dich Von neunundneunzig Luftballons"
joinblank = " ".join(balloon)
joinx = " He ".join(balloon)    # He  is helium in the periodic table
print(joinblank)
print(joinx)
print("you can reverse with str.join(): ", "".join(reversed(balloon)))
print("you can join lists")
# [] denotes a list, we will see more lists soon
too_many_legs = ",".join(["spiders", "squid", "octopus", "centipedes"])
print("was a list, now a string ", too_many_legs)
balloon_split = balloon.split()
print(balloon_split)

L i e d   f ü r   d i c h   V o n   n e u n u n d n e u n z i g   L u f t b a l l o n s
L He i He e He d He   He f He ü He r He   He d He i He c He h He   He V He o He n He   He n He e He u He n He u He n He d He n He e He u He n He z He i He g He   He L He u He f He t He b He a He l He l He o He n He s
you can reverse with str.join():  snollabtfuL giznuendnunuen noV hcid rüf deiL
you can join lists
was a list, now a string  spiders,squid,octopus,centipedes
['Lied', 'für', 'dich', 'Von', 'neunundneunzig', 'Luftballons']

## split (delim, max) a string
* default delimiter is space

In [ ]:
# split into a list
print( "black:white:green:blue:red".split(':') )

# remove from a string 
phrase = "mares eat oats"
print("before", phrase, "after", phrase.split("a") )

phrase = "the cat came back, the very next day."
print (phrase.capitalize().split())
print (phrase.title().split(","))

one, two, three = input("enter three things:").split()
print("one",one,"two",two,"three",three)

['black', 'white', 'green', 'blue', 'red']
before mares eat oats after ['m', 'res e', 't o', 'ts']
['The', 'cat', 'came', 'back,', 'the', 'very', 'next', 'day.']
['The Cat Came Back', ' The Very Next Day.']
enter three things:this, that , theother

ValueError: ignored

## replace a string

In [ ]:
balloon = "Lied für dich Von neunundneunzig Luftballons"
print (balloon.replace("n", "$"))
print (balloon .replace("neunundneunzig", "einhundertein"))

Lied für dich Vo$ $eu$u$d$eu$zig Luftballo$s
Lied für dich Von einhundertein Luftballons

Poetry

Alligator Pie By Dennis Lee
ref https://canpoetry.library.utoronto.ca/lee/poem7.htm

In [ ]:
author="Denis Lee"
reference="https://canpoetry.library.utoronto.ca/lee/poem7.htm"
poem_title="Alligator Pie"

poem="""
Alligator pie, alligator pie,
If I don't get some I think I'm gonna die. 
Give away the green grass, give away the sky, 
But don't give away my alligator pie.

Alligator stew, alligator stew,
If I don't get some I don't know what I'll do.
Give away my furry hat, give away my shoe,
But don't give away my alligator stew.

Alligator soup, alligator soup,
If I don't get some I think I'm gonna droop.
Give away my hockey stick, give away my hoop,
But don't give away my alligator soup.
"""

print (poem.replace("pie","cake"))

## string in string and count()

In [ ]:
author="Denis Lee"
reference="https://canpoetry.library.utoronto.ca/lee/poem7.htm"
poem_title="Alligator Pie"
poem="""
Alligator pie, alligator pie,
If I don't get some I think I'm gonna die. 
Give away the green grass, give away the sky, 
But don't give away my alligator pie.

Alligator stew, alligator stew,
If I don't get some I don't know what I'll do.
Give away my furry hat, give away my shoe,
But don't give away my alligator stew.

Alligator soup, alligator soup,
If I don't get some I think I'm gonna droop.
Give away my hockey stick, give away my hoop,
But	don't give away my alligator soup.
"""



search=input("What do you want to find in "+poem_title+": ")

if (search in poem ) :
  print(search, "is in",poem_title )
else :
  print("couldn't find", search, "in",poem_title)

# number of times the search term occurs in the string
print ("occurrences", poem.count(search))

# number of times the search term occurs in the string
print ("all lowercase ", poem.lower().count(search.lower()))

What do you want to find in Alligator Pie: pie
pie is in Alligator Pie
occurrences 3
all lowercase  3

In [ ]:
from IPython.display import display, Javascript
from google.colab.output import eval_js
from base64 import b64decode

def take_photo(filename='photo.jpg', quality=0.8):
  js = Javascript('''
    async function takePhoto(quality) {
      const div = document.createElement('div');
      const capture = document.createElement('button');
      capture.textContent = 'Capture';
      div.appendChild(capture);

      const video = document.createElement('video');
      video.style.display = 'block';
      const stream = await navigator.mediaDevices.getUserMedia({video: true});

      document.body.appendChild(div);
      div.appendChild(video);
      video.srcObject = stream;
      await video.play();

      // Resize the output to fit the video element.
      google.colab.output.setIframeHeight(document.documentElement.scrollHeight, true);

      // Wait for Capture to be clicked.
      await new Promise((resolve) => capture.onclick = resolve);

      const canvas = document.createElement('canvas');
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
      canvas.getContext('2d').drawImage(video, 0, 0);
      stream.getVideoTracks()[0].stop();
      div.remove();
      return canvas.toDataURL('image/jpeg', quality);
    }
    ''')
  display(js)
  data = eval_js('takePhoto({})'.format(quality))
  binary = b64decode(data.split(',')[1])
  with open(filename, 'wb') as f:
    f.write(binary)
  return filename

In [ ]:
from IPython.display import Image
try:
  filename = take_photo()
  print('Saved to {}'.format(filename))
  
  # Show the image which was just taken.
  display(Image(filename))
except Exception as err:
  # Errors will be thrown if the user does not have a webcam or if they do not
  # grant the page permission to access it.
  print(str(err))

## string in string and endswith, startswith

In [ ]:
# string endswith
str="This ends with what"

if("what" in str):
  print("what is in -", str)
  
if ("with" in str.lower()):
  print("with is in -", str)
  
if(str.endswith("what")):
  print("ends with what -")

if(str.lower().endswith("this")):
  print("ends with this -", str)

elif(str.startswith("this".capitalize())):
  print("starts with this -", str)

what is in - This ends with what
this is in - This ends with what
ends with what -
starts with this - This ends with what

# References 

* http://greenteapress.com/thinkpython2/html/thinkpython2009.html 
* http://interactivepython.org/runestone/static/CS152f17/Strings/StringMethods.html 
* https://developers.google.com/edu/python/strings 
* https://docs.python.org/3/library/stdtypes.html#str 
* https://realpython.com/python-strings/

Digitalocean

* https://www.digitalocean.com/community/tutorials/an-introduction-to-working-with-strings-in-python-3 
* https://www.digitalocean.com/community/tutorials/an-introduction-to-string-functions-in-python-3